<h1>New Reservation!</h1>

<p>
  Hey <%= @reservation.host.email %>,
</p>

<p><%= @reservation.guest.email %> has booked your property called <%= @reservation.listing.title %></p>
<p>Dates: <%= @reservation.start_date %> to <%= @reservation.end_date %></p>